/* ***********CSS Reset*************** */
/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Remove list styles (bullets/numbers) */
ol, ul {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}
/* ***********CSS Reset END*************** */

/* Your style */
body *{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.loader{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}
.loader img{
    width: 15rem;
}
.logo img{
    width: 2rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 2rem;
    border-bottom: 1px solid black;
}
nav .nav-links ul{
    display: flex;
} 
nav .nav-links ul li{
    margin-left: 1rem;
}
.nav-links *{
    color: black;
}
.loader.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}
.quote__section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    text-align: center;
}
.quote__section p{
    font-weight: bold;
    font-size: 1.2rem;
}
.quote__section .quote__by{
    font-size: 1rem;
    font-weight: 500;
}

@keyframes fadeOut {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}